body{
  background-image: url("./bg.jpg");
  background-color: #cccccc;
  background-attachment: fixed;
  background-size: cover;
}
.block-body{
  padding: 2em;
}
.transparent{
  background: transparent;
}
nav .container-fluid{
  padding: 0.15em 5em
}
.btn-secondary {
  color: green;
  background-color: white;
  border-color: green;
}
.card-header{
  background-color: #198754;
  color: white;
}
.card-body{
  background-color: rgba(25, 135, 84, 0.1)
}
.btn-warning{
  border-color: #198754;
}
.btn-primary{
  background-color: #198754;
}
.form-check-input:focus{
  background-color: #198754;
}
.form-check-input:checked{
  background-color: #198754;
}
/*
.bi-plus-lg {
  color: white;
}
.bi-pencil-fill {
  color: white;
}
*/
