{% extends "layout.html" %}
{% block body %}
    <div class="card shadow mb-5 bg-body rounded">
        <div class="card-header mb-1">
            <h2>Records</h2>
        </div>
        {% if not record %}
        <div class="lead card-body">No records found.</div>
        {% endif %}
        {% for rec in record %}
        <div class="card shadow m-1 bg-body rounded">
            <div class="card-body">
                <h3 class="card-title">{{rec[0]}}</h3>
                <div class="card-title mb-2 text-muted">{{rec[1]}} ({{rec[2]}})</div>
                <hr>
               <div class="card-text"><h6>Record Analysis :</h6> {{rec[3]}} </div>
            </div>
        </div>
        {% endfor %}
    </div>
{% endblock body %}